.MuseoSlab-100 {
  font-family: MuseoSlab-100;
  font-weight: normal;
  font-style: normal; }

.MuseoSlab-700 {
  font-family: MuseoSlab-700;
  font-weight: normal;
  font-style: normal; }

.MuseoSlab-900 {
  font-family: MuseoSlab-900;
  font-weight: normal;
  font-style: normal; }

.MuseoSlab-300 {
  font-family: MuseoSlab-300;
  font-weight: normal;
  font-style: normal; }

.MuseoSlab-500 {
  font-family: MuseoSlab-500;
  font-weight: normal;
  font-style: normal; }

body {
  background-color: #fff;
  padding: 0;
  margin: 0;
  font-family: MuseoSlab-500;
  color: #000;
  font-family: MuseoSlab-500;
  font-size: 14px; }

.letter {
  fill: #05baba; }

.logo {
  margin-left: -15px;
  list-style: none; }
  @media only screen and (max-width: 320px) {
    .logo {
      width: 100px;
      height: 25px;
      margin-top: 15px; } }
  @media only screen and (min-width: 321px) and (max-width: 640px) {
    .logo {
      width: 100px;
      height: 25px;
      margin-top: 15px; } }
  @media only screen and (min-width: 641px) and (max-width: 768px) {
    .logo {
      width: 100px;
      height: 25px;
      margin-top: 15px; } }
  @media only screen and (min-width: 768px) {
    .logo {
      width: 150px;
      height: 35px;
      margin-top: 5px; } }

#content {
  overflow: hidden; }

#main {
  margin-top: 40px;
  width: 100%;
  height: 100%;
  color: #000; }

#skillmain {
  padding-top: 80px;
  background-color: #c0c6c9; }

#skillmaincontent {
  width: 100%;
  height: 1024px; }
  @media only screen and (max-width: 320px) {
    #skillmaincontent {
      width: 100%;
      margin: 40px 0 0 10px; } }
  @media only screen and (min-width: 321px) and (max-width: 640px) {
    #skillmaincontent {
      width: 100%;
      margin: 40px 0 0 10px; } }
  @media only screen and (min-width: 641px) and (max-width: 768px) {
    #skillmaincontent {
      width: 100%;
      margin: 40px 0 0 10%; } }
  @media only screen and (min-width: 768px) {
    #skillmaincontent {
      width: 100%;
      margin: 40px 0 0 10%; } }

.skill {
  color: #000;
  position: relative;
  font-family: MuseoSlab-500;
  text-decoration: none;
  text-align: left;
  position: relative;
  display: inline-block;
  background-color: #edeff0; }
  @media only screen and (max-width: 320px) {
    .skill {
      width: 90%;
      margin: 10px 0 0 10px; } }
  @media only screen and (min-width: 321px) and (max-width: 640px) {
    .skill {
      width: 90%;
      margin: 10px 0 0 10px; } }
  @media only screen and (min-width: 641px) and (max-width: 768px) {
    .skill {
      width: 40%;
      margin: 10px 0 0 10px; } }
  @media only screen and (min-width: 768px) {
    .skill {
      width: 40%;
      margin: 10px 0 0 10px; } }

.ip-singleskill {
  position: relative;
  height: 100%;
  margin: 0 0 0 0;
  border-left-style: solid;
  border-left-width: 20px;
  border-left-color: #04bab9; }

.dt-singleskill {
  position: relative;
  height: 100%;
  margin: 0 0 0 0;
  border-left-style: solid;
  border-left-width: 20px;
  border-left-color: #ed4736; }

.skillcopy {
  padding: 10px; }

.skilldesc {
  display: none;
  white-space: pre-line; }

.catlabel {
  text-align: left;
  position: relative;
  color: #000;
  height: 30px;
  left: 15px;
  font-size: 20px; }

.skilllabel {
  text-align: left;
  position: relative;
  color: #000;
  left: 15px;
  font-size: 16px; }

#footer {
  height: 70px;
  background-color: #fff; }

#regcont {
  background-color: #05baba;
  width: 100%;
  height: 1024px; }

#emptycont {
  background-color: #05baba;
  width: 100%;
  height: 1024px; }

#joincont {
  background-color: #05baba;
  width: 100%;
  min-height: 1024px;
  padding-bottom: 120px; }

#changecont {
  background-color: #05baba;
  width: 100%;
  min-height: 1024px;
  padding-bottom: 120px; }

#logincont {
  background-color: #05baba;
  width: 100%; }
  @media only screen and (max-width: 320px) {
    #logincont {
      height: 568px;
      margin: -34px 0 0 0; } }
  @media only screen and (max-width: 320px) {
    #logincont {
      height: 640px;
      margin: -34px 0 0 0; } }
  @media only screen and (min-width: 641px) and (max-width: 768px) {
    #logincont {
      min-height: 1024px; } }
  @media only screen and (min-width: 768px) {
    #logincont {
      min-height: 1024px; } }

#newcont {
  background-color: #05baba;
  color: #000;
  margin-top: -40px; }

#nav {
  height: 40px;
  background-color: #e1e1e1;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100; }

.navbar-nav {
  font-family: MuseoSlab-500;
  text-transform: uppercase;
  font-family: MuseoSlab-500; }

.nav-btn {
  height: 40px;
  text-decoration: none;
  font-family: #05baba;
  display: inline;
  font-size: 24px;
  width: 100px; }

.profilepic {
  border-radius: 50%;
  margin-top: 2px; }

.profilepicform {
  border-radius: 50%;
  margin: 2px 0 0 36%; }

.newday {
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  margin: 20px 0 0 0;
  box-shadow: inset 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.1); }

#plus {
  font-size: 24px; }

#menu {
  position: fixed;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #e1e1e1;
  height: 40px;
  width: 100%;
  border-top: 2px solid #e1e1e1;
  border-bottom: 2px solid #ccc; }
  #menu li a {
    text-decoration: none;
    display: block;
    padding: 0 20px;
    line-height: 40px;
    color: #666; }

#joinmenu {
  position: fixed;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  list-style-type: none; }
  #joinmenu li a {
    text-decoration: none;
    display: block;
    padding: 0 20px;
    line-height: 40px;
    color: #666; }

.item {
  float: left; }

#menu_wrapper ul {
  margin-left: 0; }

#menu_wrapper {
  padding: 0 16px 0 0; }

#menu_wrapper div {
  float: left;
  height: 44px; }

#joinmenu_wrapper ul {
  margin-left: 0; }

#joinmenu_wrapper {
  padding: 0 16px 0 0; }

#joinmenu_wrapper div {
  float: left;
  height: 44px; }

/*#titledesc{
    display:block;
    margin:20px;
    align-content:center;
    width:100%;
    font-size:14px;
}
#colorform{
    font-family: "museo-slab";
    text-align:center;
    
}

.centermessage{
    text-align:center;
    padding-top: 40px;
    text-decoration:none;
}
.labels li{
    height:26px;
    text-decoration:none;
}
.black{
 background-color:#000000;
    opacity:.4;
    width:100%;
    height:100%;
    z-index:50;
    position:relative;
    margin-top: -230px;
}

*/
.day {
  width: 100%;
  height: 500px;
  font-family: MuseoSlab-500;
  text-decoration: none;
  text-align: center;
  position: relative;
  margin-left: 0px;
  overflow: hidden; }

.dow {
  text-align: left;
  padding: 30px 0 0 0;
  position: absolute;
  left: 4%;
  font-family: MuseoSlab-300; }
  .dow a {
    color: #ffffff;
    font-family: MuseoSlab-300;
    text-decoration: none; }
  @media only screen and (max-width: 320px) {
    .dow {
      font-size: 18px; } }
  @media only screen and (min-width: 321px) and (max-width: 640px) {
    .dow {
      font-size: 20px; } }
  @media only screen and (min-width: 641px) and (max-width: 768px) {
    .dow {
      font-size: 26px; } }
  @media only screen and (min-width: 768px) {
    .dow {
      font-size: 30px; } }

.desc {
  margin: 30px 0 0 0;
  font-size: 16px;
  font-family: MuseoSlab-300;
  position: absolute;
  width: 400px; }
  @media only screen and (max-width: 320px) {
    .desc {
      width: 95%;
      margin: 60px 0 0 0;
      text-align: left;
      left: 4%; } }
  @media only screen and (min-width: 321px) and (max-width: 640px) {
    .desc {
      width: 95%;
      margin: 60px 0 0 0;
      text-align: left;
      left: 4%; } }
  @media only screen and (min-width: 641px) and (max-width: 768px) {
    .desc {
      margin: 60px 0 0 0;
      text-align: left;
      left: 4%; } }
  @media only screen and (min-width: 768px) {
    .desc {
      margin: 30px 0 0 0;
      text-align: right;
      right: 3%; } }

.title {
  font-size: 14px; }

#joinhead {
  font-size: 36px;
  text-align: center;
  color: #fff;
  margin: 40px 0 80px 0;
  font-family: MuseoSlab-700; }

.trackSI {
  position: relative;
  background-color: #FF6165;
  height: 8px;
  margin: 0 0 10px 0; }

.trackSH {
  position: relative;
  background-color: #EB595D;
  height: 8px;
  margin: 0 0 10px 0; }

.trackSD {
  position: relative;
  background-color: #D65155;
  margin: 0 0 10px 0;
  height: 8px; }

.trackISO {
  position: relative;
  background-color: #0F5575;
  margin: 0 0 10px 0;
  height: 8px; }

.trackANX {
  background-color: #115E82;
  margin: 0 0 10px 0;
  height: 8px; }

.trackSAD {
  background-color: #12688F;
  margin: 0 0 10px 0;
  height: 8px; }

.trackANG {
  background-color: #14719C;
  height: 8px;
  margin: 0 0 10px 0; }

.trackGSH {
  background-color: #167AA8;
  margin: 0 0 10px 0;
  height: 8px; }

.trackHH {
  background-color: #1784B5;
  margin: 0 0 10px 0;
  height: 8px; }

.trackINS {
  background-color: #198DC2;
  margin: 0 0 10px 0;
  height: 8px; }

.trackLON {
  background-color: #1A96CF;
  margin: 0 0 10px 0;
  height: 8px; }

.trackJOY {
  background-color: #1C9FDB;
  height: 8px;
  margin: 0 0 10px 0; }

.trackSC {
  background-color: #2A9C79;
  margin: 0 0 10px 0;
  height: 8px; }

.trackNW {
  background-color: #2EA883;
  margin: 0 0 10px 0;
  height: 8px; }

.trackNB {
  background-color: #33BA91;
  height: 8px;
  margin: 0 0 10px 0; }

.trackRUM {
  background-color: #37CC9F;
  height: 8px;
  margin: 0 0 10px 0; }

.trackPOW {
  background-color: #45D9A9;
  height: 8px;
  margin: 0 0 10px 0; }

.trackRT {
  background-color: #49E5B3;
  height: 8px;
  margin: 0 0 10px 0; }

.trackOB {
  background-color: #4DF2BD;
  height: 8px;
  margin: 0 0 10px 0; }

.labels {
  z-index: 100;
  width: 150px;
  text-align: left;
  position: relative;
  color: #fff;
  opacity: 0;
  padding: 1px 0 0 3px;
  height: 30px;
  left: 15px;
  top: 6px;
  font-size: 10px; }

.skilllabels {
  z-index: 100;
  width: 150px;
  text-align: left;
  position: absolute;
  color: #fff;
  opacity: 0;
  margin: -7px 0 0 3px;
  height: 30px;
  left: 15px;
  top: 6px;
  font-size: 10px; }

.bars {
  z-index: 5;
  display: none;
  margin: 100px 0 0 0;
  width: 95%;
  text-align: left;
  position: absolute;
  display: block;
  left: 4%; }

.dot {
  width: 10px;
  height: 10px;
  background-color: #fff;
  float: right;
  position: absolute;
  border-radius: 50%;
  margin: -20px 0 0 0;
  opacity: 1;
  right: 2%; }

select {
  background-color: #04a1a1;
  border: none;
  width: 100%; }

#descarea::-webkit-input-placeholder {
  color: #037070; }

#skillarea::-webkit-input-placeholder {
  color: #037070; }

#newform::-webkit-input {
  color: #037070; }

.num {
  display: inline; }

#headerform {
  padding: 4px;
  margin-top: 30px; }

#loginform {
  height: 1024px;
  text-align: center;
  text-decoration: none; }

.headspadding {
  font-family: MuseoSlab-500;
  font-size: 36px;
  text-align: center;
  color: #fff;
  padding: 80px 0 50px 0;
  font-family: MuseoSlab-700; }

.loginsub {
  color: #048888;
  font-family: MuseoSlab-500;
  font-size: 14px; }

#descarea {
  background-color: #04a1a1;
  width: 100%;
  border: none;
  height: 55px; }

#skillarea {
  background-color: #04a1a1;
  width: 100%;
  border: none;
  color: #fff;
  height: 300px; }

.skillcont {
  background-color: #04a1a1;
  width: 100%;
  height: 34px;
  margin: -15px 0 20px 0; }

.subheads3 {
  font-size: 14px;
  text-align: center;
  color: #04a1a1;
  margin: 0 0 10px 0; }

.subheads {
  font-size: 18px;
  text-align: center;
  color: #fff;
  margin: 0 0 80px 0; }

.subheads2 {
  font-size: 14px;
  text-align: left;
  color: #fff;
  margin: 0 0 10px 0; }

#navbottom {
  background-color: #05384f; }

@media only screen and (max-width: 320px) {
  #joinbtn {
    opacity: 0; } }
@media only screen and (min-width: 641px) and (max-width: 768px) {
  #joinbtn {
    opacity: 1; } }
@media only screen and (min-width: 768px) {
  #joinbtn {
    opacity: 1; } }

@media only screen and (max-width: 320px) {
  #col2, #col3 {
    margin: 30px 0 0 0; } }
@media only screen and (min-width: 321px) and (max-width: 640px) {
  #col2, #col3 {
    margin: 30px 0 0 0; } }
@media only screen and (min-width: 641px) and (max-width: 768px) {
  #col2, #col3 {
    margin: 0 0 0 40px; } }
@media only screen and (min-width: 768px) {
  #col2, #col3 {
    margin: 0 0 0 40px; } }

.heads {
  font-family: MuseoSlab-500;
  font-size: 36px;
  text-align: center;
  color: #fff;
  margin: 80px 0 50px 0;
  font-family: MuseoSlab-700; }

.jtext {
  text-align: center;
  width: 100%;
  color: #fff;
  font-size: 14px;
  margin: 20px 0 0 0; }

#jsliders {
  position: relative;
  display: block;
  width: 100%;
  background-color: RGBA(0, 0, 0, 0.05);
  border-radius: 50%; }

#jsliders:before {
  content: "";
  display: block;
  padding-top: 100%;
  /* initial ratio of 1:1*/ }

#joinbars {
  position: relative;
  display: block;
  width: 100%;
  background-color: RGBA(0, 0, 0, 0.05);
  border-radius: 50%; }

#joinbars:before {
  content: "";
  display: block;
  padding-top: 100%;
  /* initial ratio of 1:1*/ }

#jsetm {
  margin: 38% 10% 0 10%; }

.jbars {
  margin: 5px 0 5px 0; }

#b1 {
  width: 50%;
  background-color: #FF6165;
  height: 8px; }

#b2 {
  width: 20%;
  background-color: #D65155;
  height: 8px; }

#b3 {
  width: 70%;
  background-color: #14719C;
  height: 8px; }

#b4 {
  width: 50%;
  background-color: #2A9C79;
  height: 8px; }

#b5 {
  width: 10%;
  background-color: #4DF2BD;
  height: 8px; }

#joindots {
  position: relative;
  display: block;
  width: 100%;
  background-color: RGBA(0, 0, 0, 0.05);
  border-radius: 50%; }

#joindots:before {
  content: "";
  display: block;
  padding-top: 100%;
  /* initial ratio of 1:1*/ }

.jset {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.dhit {
  width: 100%;
  height: 20px; }

.jdot {
  margin: 5px 0 5px 45%;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%; }

.jskill {
  margin: 2px 0 0 30px;
  position: absolute;
  color: #fff;
  font-size: 14px;
  opacity: 0; }

#paging {
  text-align: center;
  padding-top: 40px;
  text-decoration: none; }

.slider-step {
  margin: 10px 0 20px 0; }

#red, #green, #blue {
  clear: left;
  width: 100%;
  margin: 15px 0 15px 0; }
  #red .noUi-background, #green .noUi-background, #blue .noUi-background {
    background-color: #fff; }
  #red .noUi-handle, #green .noUi-handle, #blue .noUi-handle {
    width: 25px;
    height: 25px;
    left: -5px;
    top: -7px;
    z-index: 5;
    border-radius: 50%;
    background: #c8c8c8;
    cursor: default; }

#newred, #newgreen, #newblue {
  margin: 30px 0 30px 0; }
  #newred .noUi-background, #newgreen .noUi-background, #newblue .noUi-background {
    background-color: #fff; }
  #newred .noUi-handle, #newgreen .noUi-handle, #newblue .noUi-handle {
    width: 30px;
    height: 30px;
    left: -17px;
    top: -6px; }

#colorpicker {
  width: 100%;
  margin-top: -5%; }

#subbtn {
  position: absolute;
  margin: 20px 0 0 45px; }

.subutton {
  width: 100%;
  text-transform: uppercase;
  background: #05384f;
  color: #fff;
  border: none; }
  @media only screen and (max-width: 320px) {
    .subutton {
      height: 80px; } }
  @media only screen and (min-width: 321px) and (max-width: 640px) {
    .subutton {
      height: 80px; } }
  @media only screen and (min-width: 641px) and (max-width: 768px) {
    .subutton {
      margin-top: 40px;
      height: 60px; } }
  @media only screen and (min-width: 768px) {
    .subutton {
      margin-top: 40px;
      height: 60px; } }

.subutton:hover {
  text-transform: uppercase;
  background: #085a7f;
  color: #fff;
  border: none; }
  @media only screen and (max-width: 320px) {
    .subutton:hover {
      height: 80px; } }
  @media only screen and (min-width: 641px) and (max-width: 768px) {
    .subutton:hover {
      margin-top: 40px;
      height: 60px; } }
  @media only screen and (min-width: 768px) {
    .subutton:hover {
      margin-top: 40px;
      height: 60px; } }

.noUi-handle {
  z-index: 5;
  border-radius: 50%;
  background: #048888;
  cursor: default; }

.noUi-background {
  background: #04a1a1; }

.noUi-connect {
  background: #FFF;
  -webkit-transition: background 450ms;
  transition: background 450ms; }

.noUi-horizontal .noUi-handle {
  width: 30px;
  height: 30px;
  left: -17px;
  top: -12px; }

.changecol {
  z-index: 10; }

.newform {
  width: 50%;
  float: right;
  margin: -26px 0 0 0;
  -webkit-appearance: none; }
  @media only screen and (max-width: 320px) {
    .newform {
      margin: -24px 0 0 0; } }
  @media only screen and (min-width: 321px) and (max-width: 640px) {
    .newform {
      margin: -24px 0 0 0; } }
  @media only screen and (min-width: 641px) and (max-width: 768px) {
    .newform {
      margin: -26px 0 0 0; } }
  @media only screen and (min-width: 768px) {
    .newform {
      margin: -26px 0 0 0; } }

.slidertitle {
  padding: 7px 0 0 10px;
  color: #037070;
  font-size: 12px; }
